name: CI

on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master

permissions:
  contents: read 

jobs:
  fmt:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          version: 0.12.0
      - run: bun i
      - run: make fmt-check


  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          version: 0.12.0
      - run: bun i
      - run: make test
